#lrg-scr-credits {
    color: white;
    background-color: rgb(0,0,0);
    background-color: rgba(0, 0, 0, 0.432);
    width: 100%;
    z-index: 50;
    grid-column: 1 / span 2;
    grid-row: 1;
    text-align: center;
    font-size: 2em;
    position: fixed;
    bottom: 50px;
}

@media only screen and (min-width: 1000px) and (min-height: 600px) {   
    #lrg-scr-credits {
        height: 50px;
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 570px;   
        margin-top: 570px; 
    }
}

@media only screen and (min-width: 1000px) and (min-height: 730px) {   
    #lrg-scr-credits {
        height: 50px;
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 90vh;   
        margin-top: 90vh; 
    }
}


.hide-me { display: none; }
.show-me { display: block; }